/* FIRST EXAMPLE PART
/* This version uses the 'pixel method' to space the columns */
/* .container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 50px 50px;
    grid-gap: 3px;
} */

/* This version uses the 'fraction method' to space the columns */
/* .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 50px;
    grid-gap: 3px;
} */

/* This version uses the 'repeat method' to space columns */
/* .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50px);
    grid-gap: 3px;
} */

/* This is the short version of the 'repeat method' (row, column) */
/* .container {
    display: grid;
    grid-template: repeat(2, 50px) / repeat(3, 1fr);
    grid-gap: 3px;
} */
/* ###################################### */

/* SECOND EXAMPLE PART */
/* .container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
}

.header {
    /* Stretch the HEADER Section across top */
    /* grid-column-start: 1;
    grid-column-end: 3; */

    /* Different short-hand versions */
    /* grid-column: 1 / 3; */
    /* grid-column: 1 / span 2; */
    
    /* If you DON'T KNOW the number of columns you will eventually have */
    /* grid-column: 1 / -1;
}

.menu {
    grid-column: 11 / -1;
    grid-row: 1 / -1;
}

.content {
    grid-column: 1 / 11;
}

.footer {
    grid-column: 1 / 11;
} */ 
/* ########################################## */

/* THIRD EXAMPLE PART: Screen Templates */
/* .container { */
    /* height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas: */
        /* . for empty area */
        /* 'm h h h h h h h h h h h'
        'm c c c c c c c c c c c'
        'm f f f f f f f f f f f'; */


/* .header {
    grid-area: h;
}

.menu {
    grid-area: m;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
} */
/* ######################################## */

/* FOURTH EXAMPLE PART */
.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
}

/* FIFTH EXAMPLE PART */
